<.flash kind={:info} flash={@flash} />
<.flash kind={:error} flash={@flash} />

<.site_header current_account={@current_account} />
<.page_title class="container"><%= assigns[:page_title] || Application.get_env(:core, :application_name) %></.page_title>
<main class="container min-vh-100">
  <%= @inner_content %>
</main>
<.site_footer current_account={@current_account} />
