<.flash kind={:info} flash={@flash} />
<.flash kind={:error} flash={@flash} />

<.page_title class="container"><%= @page_title %></.page_title>
<main class="container min-vh-100">
  <%= @inner_content %>
</main>
<.site_footer current_account={@current_account} />
