<div class="min-h-full bg-light-500">
  <div class="pb-10 py-4">
    <div class="mx-auto my-4 bg-white max-w-2xl rounded min-h-screen">
      <.page_title><%= @page_title %></.page_title>
      <main class="py-2 px-4">
        <%= @inner_content %>
      </main>
    </div>
  </div>
  <.site_footer current_account={@current_account} />
</div>
